@import 'globals/teste';


header,
footer,
aside,
main,
section{
    visibility: hidden;
}

header.above-the-fold,
footer.above-the-fold,
aside.above-the-fold,
main.above-the-fold,
section.above-the-fold{
    visibility: visible;
}

body{
    background: $color;
}